
.container__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding-bottom: 3rem;
    background-color: #1C1C1C; 
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

::ng-deep .container__menu-title {
    font-size: 20px;
    font-weight: 500;
    padding: 8px 16px;
    text-align: center; 
    color: #F5F5F5; 
    transition: color 0.3s ease, border-color 0.3s ease;
}

::ng-deep .container__menu-title:hover {
    color: #000000; 
    border-color: #DAA520; 
}

button[mat-button] {
    background-color: transparent;
    color: #fbfbfb;
    font-size: 1rem;
    padding: 12px 20px;
    border: 1px solid #DAA520; 
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}


button[mat-button]:hover {
    background-color: #DAA520; 
    color: #1C1C1C; 
    transform: scale(1.05); 
    box-shadow: 0 4px 6px rgba(255, 215, 0, 0.2);
}



