/* You can add global styles to this file, and also import other style files */
body {
    background-color: #fff;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
