<div class="container__calendar">
    <div class="row">
     
        <div class="col-12">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="container">
                <div class="row">
                    <div class="col-4">
                        <mat-form-field>
                            <mat-label>Inicio</mat-label>
                            <input matInput [matTimepicker]="startAtPicker" [ngModelOptions]="{updateOn: 'blur'}"
                                name="startAt" id="startAt" #startAtModel="ngModel"
                                (ngModelChange)="onTimeChange($event)" [(ngModel)]="newSchedule.startAt" requied>
                            <mat-timepicker #startAtPicker />
                            <mat-timepicker-toggle [for]="startAtPicker" matSuffix />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field>
                            <mat-label>Término</mat-label>
                            <input matInput [matTimepicker]="endAtPicker" [ngModelOptions]="{updateOn: 'blur'}"
                                name="endAt" id="endAt" #endAtModel="ngModel" [(ngModel)]="newSchedule.endAt"
                                disabled="true">
                            <mat-timepicker #endAtPicker />
                            <mat-timepicker-toggle [for]="endAtPicker" matSuffix />
                        </mat-form-field>
                    <div class="col-4">

                    </div>
                    </div> 
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>Selecione o cliente</mat-label>
                            <mat-select name="clientId" id="clientId" #clientIdModel="ngModel"
                                [(ngModel)]="newSchedule.clientId" required>
                                <mat-option *ngFor="let client of clients" [value]="client.id">
                                    {{client.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                        <div class="col-1">
                            <button type="submit" mat-mini-fab extended matTooltp="Incluir agendamendo no dia" [disabled]="form.invalid">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-card class="calendar-card">
                <mat-calendar [(selected)]= "selected"></mat-calendar>
            </mat-card>
        </div>
        <div class="col-6">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="startAt">
                    <th mat-header-cell *matHeaderCellDef>Inicio</th>
                    <td mat-cell *matCellDef="let schedule">{{schedule.startAt | date:'HH:mm a'}}</td>
                </ng-container>

                <ng-container matColumnDef="endAt">
                    <th mat-header-cell *matHeaderCellDef>Término</th>
                    <td mat-cell *matCellDef="let schedule">{{schedule.endAt | date:'HH:mm a'}}</td>
                </ng-container>

                <ng-container matColumnDef="client">
                    <th mat-header-cell *matHeaderCellDef>Cliente</th>
                    <td mat-cell *matCellDef="let schedule">{{schedule.clientName}}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Ações</th>
                    <td mat-cell *matCellDef="let schedule">
                        <button mat-mini-fab extended matTooltip="excluir" (click)="requestDelete(schedule)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[3, 6, 9]" showFirstLastButton></mat-paginator>
        </div>
    </div>
</div>
