
.container__calendar {
    background-color: #1C1C1C; 
    color: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8); 
}


form.container {
    background-color: #2E2E2E; 
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
    color: #c89208;
}

mat-form-field mat-label {
    color: #241a01; 
}

input[matInput] {
    border-bottom: 1px solid #DAA520;
}

button[mat-mini-fab] {
    background-color: #DAA520; 
    color: #1C1C1C; 
    transition: all 0.3s ease-in-out;
}

button[mat-mini-fab]:hover {
    background-color: #CD7F32; 
    transform: scale(1.1); 
}


.calendar-card {
    background-color: #2E2E2E; 
    padding: 15px;
    width: 630px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

mat-calendar {
    background-color: #1C1C1C;
    border-radius: 8px;
    width: 600px;
}



table.mat-elevation-z8 {
    background-color: #2E2E2E; 
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}

table.mat-elevation-z8 th {
    color: #d0a108;
}

td.mat-cell {
    padding: 10px;
    border-bottom: 1px solid #d0a108; 
}

button[mat-mini-fab][matTooltip="excluir"] {
    background-color: #800000; 
    color: #F5F5F5;
}

button[mat-mini-fab][matTooltip="excluir"]:hover {
    background-color: #CD5C5C; 
    box-shadow: 0 4px 6px rgba(255, 99, 99, 0.5);
}

mat-paginator {
    background-color: #2E2E2E; 
    color: #e2d413;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

::ng-deep .mat-calendar-body-cell-content {
    color: #DAA520; 
    font-weight: bold;
}

::ng-deep .mat-calendar-body-selected {
    background-color: #800000; 
    color: #FFFFFF;
}


::ng-deep .mat-button, ::ng-deep .mat-raised-button {
    background-color: #b56262 ; 
    color: #FFFFFF; 
}

::ng-deep .mat-calendar-body-selected {
    background-color: #ecae12 !important; 
}

::ng-deep .mat-calendar-table-header th span{
    color: #DAA520 ;
}

::ng-deep td.mat-calendar-body-label {
    color: #c89208;
}
::ng-deep .mat-calendar-body-cell-content {
    font-weight: 500;
}


::ng-deep .mat-calendar-period-button {
    color: #f2cd13 !important; 
    font-weight: 500;
    text-transform: uppercase; 
}

::ng-deep .mat-calendar-body-cell-content {
    color: #FFFFFF !important;
}

::ng-deep .mat-calendar-previous-button,
::ng-deep .mat-calendar-next-button {
    color: #DAA520 !important;
}

