.container {
    padding: 20px;
}

.fil-col {
    width: 100%;
}

.div-button {
    text-align: center;
    margin-top: 20px;
    
}

.button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:disabled {
    background-color: #ccc;
}