<form #form="ngForm" (ngSubmit)="onSubmit(form)" class="container">
    <div class="row">
        <div class="col-12">
            <mat-form-field class="fil-col">
                <mat-label>Nome</mat-label>
                <input matInput name="name" id="name" #nameModel="ngModel" [(ngModel)]="client.name" required>
                @if (nameModel.hasError('required')){
                <mat-error>Informe o nome do client</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field class="fil-col">
                    <mat-label>E-mail</mat-label>
                    <input matInput name="email" id="email" #emailModel="ngModel" [(ngModel)]="client.email" required
                        email>
                    @if (nameModel.hasError('required') || nameModel.hasError('email')){
                    <mat-error>Informe um email válido para o cliente</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="fil-col">
                    <mat-label>Celular</mat-label>
                    <input matInput name="phone" id="phone" #phoneModel="ngModel" [(ngModel)]="client.phone" required
                        mask="(00) 00000-0000">
                    @if (nameModel.hasError('required') || nameModel.hasError('mask')){
                    <mat-error>Informe o nome do client</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="div-button">
                <button class="button" type="submit" mat-flat-button [disabled]="form.invalid">Salvar</button>
            </div>
        </div>
    </div>
</form>